@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: #f8fbff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1240px) { 
  .layout {
    width: 1004px;
  }
}

@media (max-width: 1024px) { 
  .layout {
    width: 748px;
  }
}

@media (max-width: 768px) { 
  .layout {
    width: 520px;
  }
}

@media (max-width: 540px) { 
  .layout {
    width: 320px;
  }
}

@media (max-width: 320px) { 
  .layout {
    width: auto;
  }
}
