@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

body {
  background-color: #f8fbff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout{
  width: 1240px;
  margin: 0 auto;
}
